.addPlace {
  padding: 20% 10%;
  h2 {
    font-size: 30px;
  }
  p {
    color: gray;
    font-size: 20px;
    margin-bottom: 5%;
  }

  &_form {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 23px;
  }
  input {
    padding: 1% 1%;
    margin-bottom: 3%;
  }
  textarea {
    margin-bottom: 3%;
  }
  #btn {
    background-color: #008489;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 30%;
    margin: 5% auto;
  }
}

.inscription {
  &_checkbox {
  }
}
