nav {
  display: flex;
  justify-content: space-around;
  h3 {
    font-size: 10px;
    font-weight: 600;
    color: rgb(85, 85, 85);
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7.5%;
    img {
      margin: auto;
      width: auto;
      height: 3vh;
      opacity: 0.6;
    }
  }
}
